*{
  user-select: none;
  margin: 0;padding: 0;box-sizing: border-box;
}
.app {
  padding: 2rem;
}
.app > button {
  cursor: pointer;
  border: 1px solid lightgray;
  background-color: white;
  padding: 1rem;
  text-transform: capitalize;
  transition: .2s ease;
}
button:hover {
  filter: brightness(80%);
}